.faq{
  &1 h1{
    padding-top: 50px;
    margin: 0 auto;
    width: 784px;
    color: $color-oscuro;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    padding-bottom: 40px;
  }
  
  &1 h4{
    padding-top: -50px;
    margin: 0 auto;
    width: 365px;
    height: 34px;
    color: $color-oscuro;
    font-size: 17px;
    text-align: center;
    padding-bottom: 90px;
    opacity: 80%;
  }
  
  &2{
    padding: 10px;
  }
  
  &2 a{
    margin: 10px auto;
    display: block;
    width: 750px;
    color: $color-claronav;
    background-color: $color-oscuro;
    font-size: 25px;
    border-radius: 5px;
    font-weight: 700;
    padding: 7px 10px;
    
  }
}


  
  .recurso4oscuro{
    margin-top: -50px;
    width: 100%;
    height: 100%;
  }
  
  .testomonio2{
    display: block;
    padding-top: 80px;
    margin: 0 auto;
    width: 662px;
    height: 150px;
    color: $color-oscuro;
    font-weight: 600;
    font-size: 36px;
    text-align: center;
    
  }
  
  .accordion-button::after{
  filter: invert(1);
  }
  .accordion-button:not(.collapsed){
    color: $color-claronav;
    background-color: $color-oscuro;
  }
  
  .accordion-collapse{
    color: $color-claronav;
    background-color: $color-oscuro;
  }

  .fs-6{
    color: #e15b5b;
  }
  
  .accordion-collapse {
    transition: 0.35s;
  }

  .accordion-button:focus {
    box-shadow: none;
  }

  .accordion-item:first-of-type .accordion-button {
    transition: 0.35s;
  }


  